<div class="editor-ruler">
    <div class="editor-ruler-corner"></div>
    <!-- Horizontal Ruler (Left side) -->
    <svg class="editor-ruler-HorizontalLeft" (click)="onRulerClick($event, 'horizontal')">
        @for (mark of rulerMarks; track mark) {
            <g class="ruler-mark HorizontalLeft-mark">
                <line
                    [attr.x1]="10"
                    [attr.y1]="getRulerMarkPosition(mark, 'vertical')"
                    [attr.x2]="30"
                    [attr.y2]="getRulerMarkPosition(mark, 'vertical')"
                    stroke="#666"
                    stroke-width="1" />
                <text
                    [attr.x]="10"
                    [attr.y]="getRulerMarkPosition(mark, 'vertical') + 3"
                    class="ruler-label HorizontalLeft-label"
                    writing-mode="tb">{{ mark }}</text>
            </g>
        }
    </svg>

    <!-- Vertical Ruler (Top side) -->
    <svg class="editor-ruler-VerticalTop" (click)="onRulerClick($event, 'vertical')">
        @for (mark of rulerMarks; track mark) {
            <g class="ruler-mark VerticalTop-mark">
                <line
                    [attr.x1]="getRulerMarkPosition(mark, 'horizontal')"
                    [attr.y1]="10"
                    [attr.x2]="getRulerMarkPosition(mark, 'horizontal')"
                    [attr.y2]="30"
                    stroke="#666"
                    stroke-width="1" />
                <text
                    [attr.x]="getRulerMarkPosition(mark, 'horizontal') + 2"
                    [attr.y]="10"
                    class="ruler-label VerticalTop-label">{{ mark }}</text>
            </g>
        }
    </svg>

    <!-- Content area with guide lines -->
    <div class="editor-ruler-content">
        <!-- Horizontal guide lines (run left-right, positioned top-bottom) -->
        @if (showGuides$ | async) {
            @for (guide of listHorizontal$ | async; track $index) {
                <div
                    class="guide-line horizontal-guide"
                    [style.top.px]="getGuidePosition(guide, 'horizontal')"
                    (mousedown)="onGuideMouseDown($event, 'horizontal', $index)"
                    [title]="guide.Value + '%'">
                </div>
            }

            <!-- Vertical guide lines (run top-bottom, positioned left-right) -->
            @for (guide of listVertical$ | async; track $index) {
                <div
                    class="guide-line vertical-guide"
                    [style.left.px]="getGuidePosition(guide, 'vertical')"
                    (mousedown)="onGuideMouseDown($event, 'vertical', $index)"
                    [title]="guide.Value + '%'">
                </div>
            }
        }

        <ng-content></ng-content>
    </div>
</div>