$ruler-size: 30px;
$ruler-bg: #f0f0f0;
$ruler-border: #ccc;
$ruler-mark-color: #666;
$guide-color: #00aaff;
$guide-hover-color: #0088cc;

.editor-ruler {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: $ruler-size 1fr;
  grid-template-rows: $ruler-size 1fr;
  grid-template-areas:
    "corner VerticalTop"
    "HorizontalLeft content";
}

.editor-ruler-HorizontalLeft {
  grid-area: HorizontalLeft;
  background-color: $ruler-bg;
  border-bottom: 1px solid $ruler-border;
  cursor: crosshair;
  user-select: none;
  width: 100%;
  height: calc(100% - 1px);
  overflow: visible;

  .ruler-label {
    font-size: 9px;
    fill: $ruler-mark-color;
    dominant-baseline: hanging;

    &.HorizontalLeft-label {
      writing-mode: tb;
      glyph-orientation-vertical: 0;
    }
  }
}

.editor-ruler-VerticalTop {
  grid-area: VerticalTop;
  background-color: $ruler-bg;
  border-right: 1px solid $ruler-border;
  cursor: crosshair;
  user-select: none;
  width: calc(100% - 1px);
  height: 100%;
  overflow: visible;

  .ruler-label {
    font-size: 9px;
    fill: $ruler-mark-color;
    dominant-baseline: hanging;

    &.VerticalTop-label {
      text-anchor: start;
    }
  }
}

.editor-ruler-content {
  grid-area: content;
  position: relative;
  overflow: hidden;
}

.guide-line {
  position: absolute;
  z-index: 1000;
  pointer-events: all;

  &:hover {
    background-color: $guide-hover-color !important;
  }
}

.horizontal-guide {
  left: 0;
  right: 0;
  height: 2px;
  background-color: $guide-color;
  cursor: ns-resize;
  transform: translateY(-1px);

  &::before {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: 0;
    right: 0;
  }
}

.vertical-guide {
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: $guide-color;
  cursor: ew-resize;
  transform: translateX(-1px);

  &::before {
    content: '';
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0;
    bottom: 0;
  }
}

// Corner area (top-left)
.editor-ruler-corner {
  grid-area: corner;
  background-color: $ruler-bg;
  border-right: 1px solid $ruler-border;
  border-bottom: 1px solid $ruler-border;
}
