@page
@model IndexModel
@{
    ViewData["Title"] = "Schulaufagaben für Schüler";
}

<div class="text-center">
    <h1 class="display-4">
        <a class="nav-link text-dark" href="/Client">
            Schulaufagaben für Schüler
        </a>
    </h1>
</div>
