<ng-template #contentPortalContent>
  @if(viewState$ | async; as viewState){
    <button matButton (click)="save()" [disabled]="!viewState.isDirty"
    title="Speichern" aria-label="Speichern" data-testid="save-button">
        <mat-icon fontIcon="save"></mat-icon>        
    </button>
  }
</ng-template>
@if(viewState$ | async; as viewState){
  <app-editor-ruler
    [listHorizontal]="viewState.RulerHorizontal"
    [listVertical]="viewState.RulerVertical"
    (onListHorizontalChanged)="handleHorizontalChange($event)"
    (onListVerticalChanged)="handleVerticalChange($event)">
    <lib-common-page-size>
      <app-editor-sa-document [document]="viewState.Document"></app-editor-sa-document>
    </lib-common-page-size>
  </app-editor-ruler>
}
