html {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 4px;
  padding: 4px;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.main-sidenav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
  background: white;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  padding: 16px 0;

  .sidenav-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;

    a {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 16px;
      text-decoration: none;
      color: var(--mat-sys-on-surface);
      transition: background-color 0.2s;
      justify-content: flex-start;

      mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }

      span {
        font-size: 14px;
        font-weight: 500;
      }

      &:hover {
        background-color: var(--mat-sys-surface-variant);
      }

      &.active {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
      }
    }
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

router-outlet{
  display: none;
}
.main-sidenav-content{
  display: grid;
  width: 100%;
  height: 100%;
}