html {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 4px;
  padding: 4px;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.main-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  background: white;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
