@page
@model IndexModel
@{
    ViewData["Title"] = "Schulaufgaben";
}
<div class="text-center">
    <h1 class="display-4">
        <a class="nav-link text-dark" href="/Client">
            Schulaufagaben vom Lehrer
        </a>
    </h1>
</div>
