@page
@model IndexModel
@{
    ViewData["Title"] = "Schulaufgaben";
}
<div class="text-center">
    <h1 class="display-4">
        <a class="nav-link text-dark" href="/editor">
            Schulaufagaben für Lehrerinnen
        </a>
    </h1>
</div>
